<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'users/css/style_register.css' %}">
</head>

<body>
<form method="post">
    {% csrf_token %}
    <input checked="" id="signin" name="action" type="radio" value="signin">
    <label for="signin">Sign in</label>
    <input id="signup" name="action" type="radio" value="signup">
    <label for="signup">Sign up</label>
    <input id="reset" name="action" type="radio" value="reset">
    <label for="reset">Reset</label>
    <div id="wrapper">
        <div id="arrow"></div>
        {{ form.email }}
        {% if form.email.errors %}
    <span class="error">{{ form.email.errors|join:", " }}</span>
{% endif %}
        {{ form.password }}
        {{ form.first_name }}
        {{ form.last_name }}
        {{ form.phone_number }}
    </div>
    <button type="submit", value="Отправить форму">
    <span>
      Reset password
      <br>
      Sign in
      <br>
      Sign up
    </span>
    </button>
</form>
</body>
</html>
